@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  &__pic {
    margin-top: 150px;
  }

  &__headline {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    span {
      background: linear-gradient(270deg, #df8909 10%, #b415ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__tagline {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    &-connect {
      padding: 25px 45px;
      border-radius: 50px;
      background: linear-gradient(264deg, #df8909 -5.09%, #b415ff 106.28%);
      cursor: pointer;
      &:hover {
        border: 2px solid white;
      }
    }

    &-resume {
      padding: 25px 75px;
      border-radius: 50px;
      text-decoration: none;
      color: inherit;
      border: 2px solid white;
      cursor: pointer;

      &:hover {
        border-color: #b415ff;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__pic {
      margin-top: 120px;
      width: 260px;
    }

    &__headline {
      margin-top: 50px;
      width: 90%;
      font-size: 50px;
    }

    &__tagline {
      width: 60%;
      font-size: 18px;
      line-height: 32px;
      margin: 10px 0px;
    }

    &__action {
      gap: 16px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 50px;

      &-connect {
        padding: 20px 30px;
        border-radius: 40px;
      }

      &-resume {
        padding: 20px 50px;
        border-radius: 40px;
      }
    }
  }
}

@media (max-width: 320px) {
  .hero {
    &__pic {
      margin-top: 100px;
      width: 200px;
    }

    &__headline {
      margin-top: 40px;
      width: 90%;
      font-size: 36px;
      gap: 20px;
    }

    &__tagline {
      width: 90%;
      font-size: 17px;
      line-height: 28px;
      margin: 10px 0;
    }

    &__action {
      flex-direction: column; // stack the buttons vertically
      gap: 12px;
      font-size: 16px;
      margin-bottom: 40px;

      &-connect {
        padding: 16px 24px;
      }

      &-resume {
        padding: 16px 32px;
      }
    }
  }
}
