@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-SemiBold.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Bold.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Black.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Black.woff") format("woff");
  font-weight: 900;
}
