@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.getintouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;

  &__title {
    position: relative;

    h1 {
      padding: 0px 30px;
      font-size: 80px;
      font-weight: 600;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  &__details {
    display: flex;
    gap: 150px;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 80px;
        font-weight: 700;
        background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        max-width: 550px;
        color: #d8d8d8;
        font-size: 20px;
        line-height: 35px;
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #d8d8d8;
        font-size: 22px;

        &--email,
        &--phone,
        &--location {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;

      label {
        color: #d8d8d8;
        font-size: 22px;
        font-weight: 500;
      }

      input {
        border: none;
        width: 700px;
        height: 78px;
        padding-left: 20px;
        border-radius: 4px;
        background: #32323c;
        color: #a0a0a0;
        font-family: "Outfit";
        font-size: 20px;
      }

      textarea {
        width: 700px;
        border: none;
        padding: 25px;
        border-radius: 4px;
        background: #32323c;
        color: #a0a0a0;
        font-family: "Outfit";
        font-size: 20px;
      }

      button {
        border: none;
        color: white;
        border-radius: 50px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
        font-size: 22px;
        padding: 20px 60px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
    }
  }
}
