@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-SemiBold.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Bold.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Black.woff2") format("woff2");
  src: url("../../assets/fonts/Outfit-Black.woff") format("woff");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  height: 100vh;
  background: #161513;
  color: white;
}

.getintouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.getintouch__title {
  position: relative;
}
.getintouch__title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.getintouch__title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.getintouch__details {
  display: flex;
  gap: 150px;
}
.getintouch__details-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.getintouch__details-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getintouch__details-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
}
.getintouch__details-left-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.getintouch__details-left-info--email, .getintouch__details-left-info--phone, .getintouch__details-left-info--location {
  display: flex;
  align-items: center;
  gap: 20px;
}
.getintouch__details-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.getintouch__details-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
}
.getintouch__details-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Outfit";
  font-size: 20px;
}
.getintouch__details-right textarea {
  width: 700px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Outfit";
  font-size: 20px;
}
.getintouch__details-right button {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.getintouch__details-right button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .getintouch {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .getintouch__title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .getintouch__title img {
    width: 130px;
    margin-right: -20px;
  }
  .getintouch__details {
    flex-direction: column;
  }
  .getintouch__details-left h1 {
    font-size: 54px;
  }
  .getintouch__details-left p {
    font-size: 18px;
  }
  .getintouch__details-left-info {
    gap: 20px;
  }
  .getintouch__details-left-info--email p, .getintouch__details-left-info--phone p, .getintouch__details-left-info--location p {
    font-size: 18px;
  }
  .getintouch__details-left-info--email img, .getintouch__details-left-info--phone img, .getintouch__details-left-info--location img {
    width: 25px;
  }
  .getintouch__details-right label {
    font-size: 20px;
  }
  .getintouch__details-right input {
    width: 100%;
    font-size: 20px;
  }
  .getintouch__details-right textarea {
    width: 100%;
    font-size: 20px;
  }
  .getintouch__details-right button {
    font-size: 20px;
    padding: 15px 40px;
  }
}
@media (max-width: 320px) {
  .getintouch {
    margin: 40px 20px;
    gap: 40px;
  }
  .getintouch__title h1 {
    font-size: 32px;
    padding: 0;
  }
  .getintouch__title img {
    width: 80px;
    right: 0;
  }
  .getintouch__details {
    flex-direction: column;
    gap: 50px;
  }
  .getintouch__details-left h1 {
    font-size: 36px;
  }
  .getintouch__details-left p {
    font-size: 16px;
    line-height: 28px;
  }
  .getintouch__details-left-info {
    gap: 16px;
  }
  .getintouch__details-left-info--email, .getintouch__details-left-info--phone, .getintouch__details-left-info--location {
    gap: 12px;
  }
  .getintouch__details-left-info--email p, .getintouch__details-left-info--phone p, .getintouch__details-left-info--location p {
    font-size: 14px;
  }
  .getintouch__details-left-info--email img, .getintouch__details-left-info--phone img, .getintouch__details-left-info--location img {
    width: 20px;
  }
  .getintouch__details-right {
    gap: 20px;
  }
  .getintouch__details-right label {
    font-size: 16px;
  }
  .getintouch__details-right input,
  .getintouch__details-right textarea {
    width: 100%;
    font-size: 16px;
  }
  .getintouch__details-right textarea {
    padding: 20px;
  }
  .getintouch__details-right button {
    font-size: 16px;
    padding: 12px 32px;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=GetInTouch.css.map */