@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;

  &__menu-open {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 60px;
    font-size: 20px;

    .navbar__menu-close {
      display: none;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }

    img {
      display: flex;
      margin: auto;
    }
  }

  &__connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(270deg, #df8909 10%, #b415ff 100%);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.anchor-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;

    &__menu-open {
      display: block;
      position: fixed;
      right: 30px;
      cursor: pointer;
    }

    &__menu {
      position: fixed;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      top: 0;
      gap: 30px;
      background-color: #1f0016;
      width: 350px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;
      padding-left: 40px;

      .navbar__menu-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        cursor: pointer;
      }

      li {
        font-size: 30px;
        flex-direction: row;
        gap: 20px;
      }

      li:first-of-type {
        margin-top: 80px;
      }
    }

    &__connect {
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .navbar {
    margin: 20px;

    &__menu-open {
      right: 20px;
      width: 25px;
    }

    &__menu {
      width: 100%;
      padding-left: 40px;

      .navbar__menu-close {
        top: 20px;
        right: 20px;
        width: 25px;
      }

      li {
        font-size: 22px;
      }
    }
  }
}
